Backup_2026-02-24
/Gmail Inbox Manager & Classifier.json
{
  "updatedAt": "2025-11-22T08:51:53.000Z",
  "createdAt": "2025-11-22T08:03:05.169Z",
  "id": "rjj8iQoNVqMNCbcG",
  "name": "Gmail Inbox Manager & Classifier",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -2448,
        208
      ],
      "id": "5e6f4da8-6cd9-4509-ab29-69f17117c1d6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "LMFaqr33Lw1UvfyW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2304,
        384
      ],
      "id": "19ab13a8-be1d-4023-9e2b-e8dc81ae9ed4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1g63pFct9LOxvMbe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c144ecb1-6b4a-40f2-85ef-858be919ae07",
              "leftValue": "={{ $json.output.senderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1856,
        208
      ],
      "id": "3821f822-e559-468b-a122-556dafb4971f",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17c78a79-67a6-421a-b009-29dbd16844d5",
              "name": "intro",
              "value": "=Dear {{ $json.output.senderName }},",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        64
      ],
      "id": "9494e08f-c34e-47d3-b838-8beec6e291b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "455417c3-0694-47a0-99b4-7aaf76e7e6a4",
              "name": "intro",
              "value": "Hi, ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        352
      ],
      "id": "9b7ecfeb-ec77-49d0-b3e2-3c76a127efc9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "senderName",
              "description": "Extract the sender's name from this email. If no name , return an empty string.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an advanced extraction tool. Only pull out the relevant details from the text. If you're unsure about the value of any requested attribute, leave it as an empty string."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -2224,
        208
      ],
      "id": "9f4565a1-5f26-479e-bf52-86c00d46f7b8",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "intro",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1168,
        192
      ],
      "id": "59ee4af9-8ae7-41b1-81f2-32a260be9620",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3e26d0b-6136-413a-b6d5-af2ea75aaaca",
              "name": "message_id",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "7b33486f-7455-4ea7-b4ca-fe9331bf54ea",
              "name": "intro",
              "value": "={{ $json.intro }}",
              "type": "string"
            },
            {
              "id": "540f6707-d57e-487b-811c-e1ed5b1fd6e5",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "500fb0d7-544e-4ce9-ba58-e87773e1ddc6",
              "name": "text",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        192
      ],
      "id": "0b6ad15b-bf2d-42d6-9b52-398c70f34695",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Services requests",
              "description": "Questions about consulting services offered, rates, or availability."
            },
            {
              "category": "Consultation requests",
              "description": "Scheduling initial consultations or follow-up meetings."
            },
            {
              "category": "Payments",
              "description": "Questions about invoices, payments, or refunds"
            },
            {
              "category": "Others",
              "description": "Emails that don’t clearly fit into the other categories."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -624,
        192
      ],
      "id": "26335bb2-77f1-4f66-b824-2072f31d80d3",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -704,
        448
      ],
      "id": "28920276-3843-4aa2-a755-533d37c1a80d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1g63pFct9LOxvMbe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_9093486787642741468"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f436a73d-e038-45fd-a53c-ee9e18c6cf5b",
      "name": "Services Request",
      "webhookId": "a96a31d4-4aee-4401-92c7-1496491ea923",
      "credentials": {
        "gmailOAuth2": {
          "id": "LMFaqr33Lw1UvfyW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_1894355446052431143"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        208
      ],
      "id": "f86cca97-7cb7-458d-ba3c-1ab0ed156fae",
      "name": "Consultation Requests",
      "webhookId": "f8de955e-79ca-4534-a146-fa288d53e9c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "LMFaqr33Lw1UvfyW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_2625483725051495954"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "id": "d0e1e0fe-1558-480d-9bfe-d53942c6c57b",
      "name": "Payments",
      "webhookId": "dd72b9a7-7d14-472b-8d86-f7e1a9a0cd6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "LMFaqr33Lw1UvfyW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_6914380954877877217"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        608
      ],
      "id": "ef1d0c8d-7003-49d6-8334-bdac683b6fa0",
      "name": "Others",
      "webhookId": "ba168146-c21b-46e1-b11d-85e17bbe8639",
      "credentials": {
        "gmailOAuth2": {
          "id": "LMFaqr33Lw1UvfyW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.message_id }}",
        "emailType": "text",
        "message": "=Thank you for reaching out to Adaptify AI! We’re excited to learn about your needs and how we can assist you.\n\nYour inquiry has been received, and a member of our team is reviewing the details. We’ll get back to you within 24 hours with more information.\n\nIn the meantime, feel free to explore our website for additional details about our services and contact with us via WhatsApp: https://adaptifyai.co.uk/\n\nWe look forward to connecting with you!\n\nBest regards,\nDamian Danelczyk\nFounder & CEO at Adaptify AI",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "d656261e-ae93-4d5f-9dd6-29a4c3e72b32",
      "name": "Reply to services requests",
      "webhookId": "5471569b-1d0a-4fb6-ad09-014516b6be94",
      "credentials": {
        "gmailOAuth2": {
          "id": "LMFaqr33Lw1UvfyW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.message_id }}",
        "emailType": "text",
        "message": "=Thank you for reaching out to Adaptify AI. We’re excited to learn more about your needs and discuss how we can help.\n\nTo schedule your consultation, please reply to this email with your preferred date and time or use our online booking link here: https://cal.com/damianaiagent.\n\nOnce we receive your preferred time, we’ll confirm the appointment or suggest alternative options if needed.\n\nIf you have any specific topics you’d like to discuss during the consultation, feel free to include them in your reply.\n\nWe look forward to connecting with you!\n\nBest regards,\nDamian Danelczyk\nFounder & CEO at Adaptify AI",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        208
      ],
      "id": "74603c59-c638-49f8-9f22-20d4d342c083",
      "name": "Reply to consultation requests",
      "webhookId": "413b9fcc-30ef-43fb-ae4f-125189ccfb4b",
      "credentials": {
        "gmailOAuth2": {
          "id": "LMFaqr33Lw1UvfyW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.message_id }}",
        "emailType": "text",
        "message": "=\nThank you for contacting us regarding your payment/billing inquiry. We’ve received your message and are working to address your request.\n\nA member of our team will get back to you within 2 working days to provide the necessary information or assistance.\n\nIf this matter is urgent, please call us directly at +44756248xxx.\n\nThank you for your patience and for choosing Adaptify AI.\n\nBest regards,\nDamian Danelczyk\nFounder & CEO at Adaptify AI",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        400
      ],
      "id": "3fcf2477-9215-4514-8ef0-1f7c02887b58",
      "name": "Reply to payment-related questions",
      "webhookId": "a0fda489-eb42-4d02-9157-4d9deaa521e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "LMFaqr33Lw1UvfyW",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Services Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultation Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Others",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Services Request": {
      "main": [
        [
          {
            "node": "Reply to services requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultation Requests": {
      "main": [
        [
          {
            "node": "Reply to consultation requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payments": {
      "main": [
        [
          {
            "node": "Reply to payment-related questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1763798586
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3a9f4df6-4e3b-48f7-bf31-d1ae0b48f172",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-16T15:42:18.700Z",
      "createdAt": "2026-02-16T15:42:18.700Z",
      "role": "workflow:owner",
      "workflowId": "rjj8iQoNVqMNCbcG",
      "projectId": "NcxzszH5HBFjVznJ"
    }
  ],
  "activeVersion": null,
  "tags": []
}